/*NAVBAR ICON*/
.downArrow{
  position:relative;
  width: 50px;
  height: 50px;
  /*background: #ccc;*/
  transform: rotate(45deg);

}

.downArrow span{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border:none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
/*/END NAVBAR ICON*/

/*NEW NAVBAR*/
/* Style the navbar */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;


  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.2);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 50px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


/*/END NEW NAVBAR*/

/*HERO*/
 .hero-text {
   display: flex;
   font-size: 9vh;
   color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  background-image: url("images/car1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-footer {
  display: flex;
}
/*/ENDHERO*/






/*REMOVE CONTENT SECTIONS*/
.div1{
  height: 400px;
  background-color: tomato;

}
.div2{
  height: 600px;
  background-color: gray;
}
/*CONTENT SECTIONS*/
.box{
  background-color: black;
  height: 50px;
  width: 200px;
  padding: 50px;
  margin-left: 50px;
}
