* {
  box-sizing: border-box;
}

@font-face {
  font-family: "AktivGrotesk-Bold";
  src: url(fonts/AktivGrotesk-Bold.otf);
  font-family: "AktivGrotesk-Light";
  src: url(fonts/AktivGrotesk-Light.otf);
  font-family: "AktivGrotesk-Medium";
  src: url(fonts/AktivGrotesk-Medium.otf);
  font-family: "AktivGrotesk-Regular";
  src: url(fonts/AktivGrotesk-Regular.otf);
}

body {
  background-color: #212121;
  font-family: "AktivGrotesk-Regular";
  margin: 0;
  padding: 0;
}


/* EMAIL FORM */
.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;

}

.popup.active {
  z-index: 1;
  background-color: rgba(0, 32, 91, 0.93);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.popup-signup {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 40px;
  padding-top: 20px;
  background-color: #212121;
  color: #fff;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

.popup-signup.white, .popup-signup.white i  {
  background-color: rgb(255, 255, 255);
  color: #212121;
}

.popup-signup input::placeholder , .popup-signup textarea::placeholder {
  color: #fff;
}

.popup-signup.white input::placeholder , .popup-signup.white textarea::placeholder {
  color: #212121;
}
.popup-signup img {
  align-self: center;
  padding-bottom: 40px;
  width: 40px;
  cursor: pointer;
}

.popup-signup h2 {
  font-size: 14pt;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-signup input , .popup-signup textarea {
  width: 100%;
  height: 36px;
  padding: 5px 5px 5px 0;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-size: 16pt;
}

.popup-signup.white input , .popup-signup.white textarea {
  border-bottom: 1px solid #212121;
  color: #212121;
}

.popup-signup input[type="submit"],
.popup-signup input[type="button"] {
  background-color: #212121;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  align-self: flex-end;
  margin-top: 50px;
  padding: 0;
  padding-bottom: 2px;
}

.popup-signup.white input[type="submit"],
.popup-signup.white input[type="button"] {
  background-color: rgb(0, 32, 91);
}

.popup-signup textarea {
  resize: none;
}

.toggle-signup {
  position: fixed;
  right: 0;
  width: 60px;
  height: 90px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  top: 85%;
  line-height: 48px;
  text-align: center;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  }

.toggle-signup:before , img {
  padding: 4px;
  font-size:20px;
  color: #fff;
}

.toggle-signup.active{
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .popup-signup{
    width: 40%;
    height: auto;
  }
}
/* END EMAIL FORM */

/* PROGRESSBAR */
.progressbar-side {
  position: fixed;
  transform: rotate(90deg);
  top: 50%;
  left: -158px;
}

.progressbar-side .progressbar[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 350px;
  height: 2px;
}

.progressbar-side .progressbar[value]::-webkit-progress-bar {
  background-color: rgba(0,0,0, 0);
  border-radius: 2px;
}

.progressbar-side .progressbar[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-90deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #7e3de1, #d22c55, #de473a, #3df39e);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* END PROGRESSBAR */

}
/*NAVBAR ICON*/
.downArrow{
  position:relative;
  width: 50px;
  height: 50px;
  /*background: #ccc;*/
  transform: rotate(45deg);
}

.downArrow span{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border:none;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
/*END NAVBAR ICON*/

/*NAVBAR*/
/* Style the navbar */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 0, 0, 0.2);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 50px;
  text-decoration: none;
}

/* Page content */
/*.content {
  padding: 16px;
}*/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/*.sticky + .content {
  padding-top: 60px;
}*/

/*END NAVBAR*/

/*HERO*/
.hero-text {
   display: flex;
   font-size: 9vh;
   color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  background-image: url("images/car1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*ENDHERO*/


/* SECTION ONE */
.section-one {
  height: 100vh;
}

.section-one img {
  object-fit: cover;
  height: 65%;
  width: 100%;
}

.section-one p {
  padding: 20px 20px 10px 20px;
  font-weight: bold;
}



/* END SECTION ONE */

/* GALLERY */
.gallery {
  width: 100%;
  height: 100vh;
}

.gallery .picture-one {
  object-fit: cover;
  background-image: url(images/Render_05.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.gallery .under {
  display: flex;
  flex-direction: row;
}

.gallery .picture-two {
  cursor: pointer;
  object-fit: cover;
  background-image: url(images/Render_06.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 50%;
}

.gallery .picture-two.big{
  cursor: pointer;
  object-fit: cover;
  background-image: url(images/Render_06.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
}


.gallery .picture-three {
  cursor: pointer;
  object-fit: cover;
  background-image: url(images/Render_08.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 50%;
}
/* END GALLERY */

/* BOTTOM CARDS */
.cards {
  display: flex;
  flex-direction: column;
}

.cards i {
  padding: 10px 10px 15px 10px;
  font-size: 40px;
}

.cards h2, .card p{
  padding: 10px 5px;
  margin: 0;
  color: #fff;
}

.card {
  background-color: #383838;
  text-align: center;
  margin: 15px;
  padding: 30px 20px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px){
  .cards {
    flex-direction: row;
  }
}
/* END BOTTOM CARDS */
