
/*HERO AND NAVBAR*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu {
  color: white;
  font-size: 5vh;
}
#menu-icon {
  font-size: 6vh;
}

 .hero-text {
   display: flex;
   font-size: 9vh;
   color: white;
}
 .button {
   font-size: 3vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  background-image: url("images/car1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-footer {
  display: flex;
}
/*HERO AND NAVBAR*/

.div1{
  height: 400px;
  background-color: red;

}
.div2{
  height: 600px;
  background-color: gray;
}
