* {
  box-sizing: border-box;
  font-variant-ligatures: none;
}

@font-face {
  font-family: "AktivGrotesk-Bold";
  src: url(fonts/AktivGrotesk-Bold.woff);
  font-family: "AktivGrotesk-Medium";
  src: url(fonts/AktivGrotesk-Medium.woff);
  font-family: "AktivGrotesk-Regular";
  src: url(fonts/AktivGrotesk-Regular.woff);
  font-family: "AktivGrotesk-Light";
  src: url(fonts/AktivGrotesk-Light.woff);
}

body {
  background-color: #212121;
  font-family: "AktivGrotesk-Regular";
  margin: 0;
  padding: 0;
}


/* EMAIL FORM */
.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;

}

.popup.active {
  z-index: 1;
  background-color: rgba(0, 32, 91, 0.93);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.popup-signup {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 40px;
  padding-top: 20px;
  background-color: #212121;
  color: #fff;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}

.popup-signup.white, .popup-signup.white i  {
  background-color: rgb(255, 255, 255);
  color: #212121;
}

.popup-signup input::placeholder , .popup-signup textarea::placeholder {
  color: #fff;
}

.popup-signup.white input::placeholder , .popup-signup.white textarea::placeholder {
  color: #212121;
}

.toggle-signup > :nth-child(1){
  align-self: center;
  width: 37px;
}
.popup-signup img {
  align-self: center;
  padding-bottom: 40px;
  width: 40px;
  cursor: pointer;
}

.popup-signup h2 {
  font-size: 14pt;
  text-transform: uppercase;
}

.popup-signup form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-signup input , .popup-signup textarea {
  width: 100%;
  height: 36px;
  padding: 5px 5px 5px 0;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-size: 16pt;
  text-transform: capitalize;
}

.popup-signup input[type='email'] {
  text-transform: none;
}



.popup-signup.white input , .popup-signup.white textarea {
  border-bottom: 1px solid #212121;
  color: #212121;
}

.popup-signup input[type="submit"],
.popup-signup input[type="button"] {
  background-color: #212121;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  align-self: flex-end;
  margin-top: 50px;
  padding: 0;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.popup-signup.white input[type="submit"],
.popup-signup.white input[type="button"] {
  background-color: rgb(0, 32, 91);
}

.popup-signup textarea {
  resize: none;
}

.toggle-signup {
  position: fixed;
  right: 0;
  width: 40px;
  height: 65px;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  top: 85%;
  text-align: center;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  line-height: 40px;
  }

  .toggle-signup .plus {
    width: 30px;
    color: #fff;
    padding-bottom: 3px;
  }

  .toggle-signup .mail {
    width: 25px;
    color: #fff;
    padding-bottom: 3px;
  }


.toggle-signup:before , .toggle-signup img {
  /* padding: 4px; */
  /* font-size: 16px; */
  color: #fff;
}

.toggle-signup.active{
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .popup-signup{
    width: 40%;
    height: auto;
  }
}
/* END EMAIL FORM */

/* PROGRESSBAR */
.progressbar-side {
  position: fixed;
  transform: rotate(90deg);
  top: 50%;
  left: -158px;
}

.progressbar-side .progressbar[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 350px;
  height: 2px;
}

.progressbar-side .progressbar[value]::-webkit-progress-bar {
  background-color: rgba(0,0,0, 0);
  border-radius: 2px;
}

.progressbar-side .progressbar[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-90deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #7e3de1, #d22c55, #de473a, #3df39e);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* END PROGRESSBAR */


/*DESKTOP NAVBAR*/
@media screen and (min-width: 768px){
  .navbarContainer, .stickyMenuTextBar, .menuText, .stickyArrowBar, .down,
   .arrow, .mobileMenuContainer, .mobileMenu, .homeDiv, .vesselDiv{ /*Removing classes from mobile content*/
    display: none;
  }

  .menuContainer{
    display: flex;
    justify-content: center;
  }

  .menu{
      display: flex;
      justify-content: space-around;
      overflow: hidden;
      /* background-color: rgba(255, 0, 0, 0.5); */
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      color: white;
      padding-top: 2%;
      padding-left: 15%;
      padding-right: 15%;
      font-size: 3vh;
      color: white;
      z-index: 2


    }
    .menu a{
      text-decoration: none;
      color:inherit;
      font-family: "AktivGrotesk-Light";
    }

}
/*END DESKTOP NAVBAR*/

/* MOBILE NAVBAR -------------------------------------------------------------*/
/* NAVBAR ICONs*/
@media screen and (max-width: 768px){
  .menuContainer, .menu {
    display: none;
  }

  .stickyArrowBar i {
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 20px;
  }
  .arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    margin-right: 15px; /*This is because the whole site is to far left for some reason, a quick fix*/
    z-index: 100;
  }
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);

  }
  /* END NAVBAR ICON*/

  /*MENU CONTAINER*/
  .mobileMenuContainer{
    display: flex;
    justify-content: center;

  }
  /*END MENU CONTAINER*/
  /*NAVBAR CONTAINER*/
  .navbarContainer{
    display: flex;
    justify-content: center;
  }
  /*END NAVBAR CONTAINER*/
  /*MENU*/
  .mobileMenu{
     height:0;
     overflow:hidden;
     display: flex;
     justify-content: center;
     position: fixed;
     cursor: pointer;
     border: 1px solid #fff;
     background-color: rgba(255, 255, 255, 1);

     color: #00205A;
     font-family: "AktivGrotesk-Regular";
     align-items: center;
     width: 100%;
     transition: all 0.2s ease-in-out;
  }
  /*END MENU*/

  /*MENU POPUP*/
  .menuPopUp{
    height: 80%;
    opacity: 1;
    border-bottom: 10px solid #00205A;
  }
  /*END MENU POPUP*/

  /*STICKY MENU TEXT*/
  .menuText{ /*This is because the whole site is to far left for some reason, a quick fix*/
    margin-right: 15px;
  }

  .stickyMenuTextBar {
      display: flex;
      justify-content: center;
      overflow: hidden;
      /* background-color: rgba(255, 0, 0, 0.5); */
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      color: white;
  }
  /*END STICKY MENU TEXT*/

  /*STICKY ARROW*/
  .stickyArrowBar {
      display: flex;
      justify-content: center;
      overflow: hidden;
      /* background-color: rgba(0, 255, 0, 0.5); */
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      height: 20%;
      margin-top: 10px;
  }
  /* Links inside the navbar */
  /* .stickyArrowBar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  } */
  /* Change background on mouse-over */
  /* .stickyArrowBar a:hover {
      background: #ddd;
      color: black;
  } */
  /*END STICKY ARROW*/
}
  /*END MOBILE NAVBAR-----------------------------------------------------------*/

/* TRANSLATE */
.language {
  margin-left: 20px;
}
/* END TRANSLATE */

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("images/Preview_17.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* END HERO */

/* ROTATING TEXT */
.sentence {
  font-family: "AktivGrotesk-Light";
  /* font-weight: 100; */
  font-size: 16pt;
  letter-spacing: 0.67em;
  line-height: 22pt;
  width: 50%;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 0;
}

.sliding-vertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #f2f2f2;
	opacity: 0;
	position: absolute;
}
.sliding-vertical span:nth-child(2){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.sliding-vertical span:nth-child(3){
	animation-delay: 8.5s;
	-ms-animation-delay: 8.5s;
	-webkit-animation-delay: 8.5s;
}
.sliding-vertical span:nth-child(4){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(-50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(-50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(-50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

/* END ROTATING TEXT */

/* SECTION */

.section {
  height: 100%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section .header {
  align-self: flex-start;
  height: 20vh;
  padding: 0 30px 0 30px;
}

.section .header h3 {
  font-family: "AktivGrotesk-Light";
  font-weight: 100;
  font-size: 54pt;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: #5c5c5c;
}

.section .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 117.33px 30px 146.66px 30px;
  width: 100%;
}

/* fixa pt till em!!!! */
.section .header h5, .article h5 {
  font-family: "AktivGrotesk-Light";
  font-weight: 100;
  font-size: 2.5em;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
}

.section .header h5 {
  font-size: 1.5em;
}

.section .article h5 {
  font-size: 2.5em;
}

.section .article h5 {
  font-family: "AktivGrotesk-Bold";
  color: #fff;
  text-transform: uppercase;
  line-height: normal;
  /* margin: 10px; */
  margin-bottom: 20px;
  align-self: flex-start;
}

.section .article p {
  font-family: "AktivGrotesk-Light";
  color: #fff;
  font-size: 1.33em;
}

.section .footer {
  margin-bottom: -50px;
  z-index: 1;
}

.section .footer img {
  width: 100vw;
}

.section .footer-info {
  display: flex;
  padding: 0;
  /* padding: 0 21.33px 21.33px 21.33px; */
  color: rgba(255, 255, 255, 0.6);
  margin: 0 21.33px 0px 21.33px;
}

.section .footer-info .over,
.section .footer-info .under {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 114px; */
  width: 152px;
  height: 96px;
}

.section .footer-info .over {
  background-color: rgb(46, 46, 46);
}

.section .footer-info .under {
  background-color: rgb(31,31,31);
}

.section .footer-info .over p,
.section .footer-info .under p {
  font-family: "AktivGrotesk-Light";
  margin: 0;
  font-size: 9pt;
}

.section .footer-info .over h6,
.section .footer-info .under h6 {
  font-family: "AktivGrotesk-Light";
  margin: 0;
  font-size: 20pt;
}
.section .button {
  align-self: center;
}
.section .button input[type="submit"],
.section .button input[type="button"] {
  font-family: "AktivGrotesk-Light";
  background-color: #212121;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.33em;
  padding: 5px 30px 1px 30px;
  margin: 57.33px 0 57.33px 0;
}

.section .fly {
  background: url("images/Preview_02.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: -1px;
}
.section .fly .header {
  margin-top: 106.66px
}

@media screen and (min-width: 768px) {
  .section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section .header {
    align-self: flex-start;
    top: 0;
  }

  .section .article {
    align-self: center;
    width: 50%;
  }
}

/* END SECTION  */

/* CONTENT */
.content {
  height: 100%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.content .title {
  align-self: flex-start;
}


.content .title h5 {
  font-size: 2.08em;
  font-family: "AktivGrotesk-Medium";
  color: #fff;
  line-height: normal;
  margin: 0 0 0 38.66px;
  align-self: flex-start;
}

.content .title hr {
  align-self: flex-start;
  margin: 0;
  border: 2px solid #fff;
  width: 61.33px;
}

.content .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 38.66px 0 97.33px;
  margin-top: 38.66px;
  margin-bottom: 70.66px;
}

.content .article p {
  font-family: "AktivGrotesk-Light";
  font-size: 1.33em;
  color: #fff;
  margin: 0;
}

.content .picture img {
  width: 100vw;
  margin: 0;
  margin-bottom: 124px;
}

.content.white {
  background-color: #fff;
}

.content.white img{
  margin-bottom: -1px;
}

.content.white .title h5 {
  color: rgb(5, 5, 5);
}

.content.white .title hr {
  border-color: rgb(5, 5, 5);
}

.content.white .article p {
  color: rgb(5, 5, 5);
}

.content.gray {
  background-color: rgb(211, 211, 211);
}

.content.gray .title h5 {
  margin-top: 124px;
  color: rgb(5, 5, 5);
}

.content.gray .title hr {
  border-color: rgb(5, 5, 5);
}

.content.gray .article p {
  color: rgb(5, 5, 5);
}

.content.gray .picture img{
  height: 428px;
  object-fit: cover;
}

.content.gray .picture img{
  height: 428px;
  object-fit: cover;
  object-position: 34% 66%;
}

/* CONTENT */

/* SECTION ONE */
.section-one {
  height: 100%;
}

.section-one img {
  object-fit: cover;
  height: 65%;
  width: 100%;
}

.section-one p {
  padding: 20px 20px 10px 20px;
}

/* Touching the second child in div */
.section-one > :nth-child(2){
  font-weight: bold;
}


/* END SECTION ONE */


/* GALLERY */

@media screen and (min-width: 768px) {
  .gallery {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aqua;
  }

  .box {
    height: 50%;
    width: 30%;
    order: 2;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
  }

  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .big {
    order: -1;
    height: 100%;
    width: 70%;
    background-color: beige;
    cursor: default;
  }
}


@media screen and (max-width: 768px) {

  .gallery {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 124px;
  }

  .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .box {
    width: 50%;
    height: 35%;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
  }

  .big {
    order: -1;
    height: 65%;
    width: 100%;
    cursor: default;
  }
}

/* END GALLERY */

/* FOOTER */
.footer-of-page {
  margin-top: -23px;
  background-color: rgb(211, 211, 211);
}
/* END FOOTER */
