/*DESKTOP NAVBAR*/
@media screen and (min-width: 768px){
  .navbarContainer, .stickyMenuTextBar, .menuText, .stickyArrowBar, .down,
   .arrow, .mobileMenuContainer, .mobileMenu, .homeDiv, .vesselDiv, { /*Removing classes from mobile content*/
    display: none;
  }

  .menuContainer{
    display: flex;
    justify-content: center;
  }

  .menu{
      display: flex;
      justify-content: space-around;
      overflow: hidden;
      /* background-color: rgba(255, 0, 0, 0.5); */
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      color: white;
      padding-top: 2%;
      padding-left: 15%;
      padding-right: 15%;
      font-size: 3vh;
      color: white;
      z-index: 2


    }
    .menu a{
      text-decoration: none;
      color:inherit;
      font-family: "AktivGrotesk-Light";
    }

}
/*END DESKTOP NAVBAR*/





/* MOBILE NAVBAR -------------------------------------------------------------*/
/* NAVBAR ICONs*/
@media screen and (max-width: 768px){
  .menuContainer, .menu, .homeDiv, .insideCompany, .vesselDiv, .insideVessel {
    display: none;
  }

@media screen and (min-width: 768px){
  .stickyArrowBar i {
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 20px;
  }
  .arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
    margin-right: 15px; /*This is because the whole site is to far left for some reason, a quick fix*/
    z-index: 2;
  }
  .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      z-index: 2;

  }
  /* END NAVBAR ICON*/
  /*MENU CONTAINER*/
  .mobileMenuContainer{
    display: flex;
    justify-content: center;

  }
  /*END MENU CONTAINER*/
  /*NAVBAR CONTAINER*/
  .navbarContainer{
    display: flex;
    justify-content: center;
  }
  /*END NAVBAR CONTAINER*/
  /*MOBILE MENU*/
  .mobileMenu{
     height:0;
     overflow:hidden;
     display: flex;
     justify-content: center;
     position: fixed;
     cursor: pointer;
     border: 1px solid #fff;
     background-color: rgba(255, 255, 255, 1);

     color: #00205A;
     font-family: "AktivGrotesk-Regular";
     align-items: center;
     width: 100%;
     transition: all 0.2s ease-in-out;
     z-index:3;
  }
  /*INNER MENU CONTENT*/
  .insideCompany{
    font-weight: lighter;
    padding-right: 50%;

  }
  .insideVessel{

  }
  /*END INNER MENU CONTENT*/
  /*END MENU*/

  /*MENU POPUP*/
  .menuPopUp{
    height: 80%;
    opacity: 1;
    border-bottom: 10px solid #00205A;
  }
  /*END MENU POPUP*/

  /*STICKY MENU TEXT*/
  .menuText{ /*This is because the whole site is to far left for some reason, a quick fix*/
    margin-right: 15px;
  }

  .stickyMenuTextBar {
      display: flex;
      justify-content: center;
      overflow: hidden;
      /* background-color: rgba(255, 0, 0, 0.5); */
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      color: white;
  }
  /*END STICKY MENU TEXT*/

  /*STICKY ARROW*/
  .stickyArrowBar {
      display: flex;
      justify-content: center;
      overflow: hidden;
      /* background-color: rgba(0, 255, 0, 0.5); */
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      height: 20%;
      margin-top: 10px;
  }
  /* Links inside the navbar */
  /* .stickyArrowBar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  } */
  /* Change background on mouse-over */
  /* .stickyArrowBar a:hover {
      background: #ddd;
      color: black;
  } */
  /*END STICKY ARROW*/
  }
  /*END MOBILE NAVBAR-----------------------------------------------------------*/
